/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    #clients {width: 94% !important;}
    #contacts .column {width: 100%; margin-top: 20px; text-align: center;}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    #mpPhone {display: none;}
    #mpEmail {display: none;}
    #mpContacts {border: none !important;}
    #contactsContainer {width: 94%;}

    .column {width: 100%; margin: 20px auto auto 0;}
    .logoContainer {width: 100%; margin: 40px auto auto 0;}
    .promoButton {font-size: 12px;}
    .fullNewsDescription {width: 100%; margin-top: 30px; float: none;}
    .fullNewsPreview {margin: 0 auto; text-align: center; float: none;}
    .logo {width: 100%; padding-bottom: 20px; margin-top: -50px;}
    .social {float: none; margin: 20px auto auto auto; text-align: center; width: 210px;}
    .creator {float: none; margin: 20px auto auto auto;}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    #bottom {width: 100%;}
    #pageNumbers {font-size: 12px;}
    #screenSpace {display: none;}
    #newsButtonSection, #offerButtonSection {text-align: center !important;}

    .slogan {width: 90%; padding-right: 10%; text-align: center; margin: 150px 5% auto 5%;}
    .socialButton {float: left; margin-right: 0; margin-left: 10px;}
    .pageNumberBlock, .pageNumberBlockActive {width: 30px; height: 25px; line-height: 25px;}
    .pageNumberBlockSide {height: 25px; line-height: 25px;}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
    #logoIMG {width: 32px; height: 32px;}
    #bottom {display: none;}
    #bottomMobile {display: block; margin: 0 auto;}
    #bottomPromo {width: 100%; font-size: 10px;}
    #logo {width: 50px;}
    #logo img {width: 50px; height: 50px;}

    .sloganBigFont {font-size: 32px;}
    .sloganSmallFont {font-size: 14px;}
    .sliderButtons {display: none;}
    .clouds {display: none;}
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}